<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="refresh" content="86400">    
  </head>
  <body>    
    {{{ body }}}
  </body>
  <style>
    body {
      font: 1.5em "Lucida Grande", Helvetica, Arial, sans-serif;
    }    
  </style>
</html>